{
  "project_id_var": "ololo-262618",
  "source_image_family_var": "ubuntu-1604-lts",
  "machine_type_var": "f1-micro",
  "network_var": "ololo",
  "tag_var": "some-tag",
  "disk_size_var": "11",
  "image_description_var":"some_description"
}

